<h2>Contact Us</h2>
<p>Plese enter your contact details in the form below</p>

<form action = 'contact_us' method = 'get'>
<label>First Name<input type = 'text' name = 'firstname'></label>
<label>Surname<input type = 'text' name = 'surname'></label>
<label>Email<input type = 'email' name = 'email'></label>
<label>Mobile<input type = 'text' name = 'mobile'></label>
<label>Postcode<input type = 'postcode' name = 'postcode'></label>
<button>Submit!</button>
</form>

<% if @firstname == '' %>
  <section>
    <header>
      <h1>Please enter your details</h1>
    </header>
  </section>
<% elsif @firstname != '' %>
  <section>
    <header>
      <h1>Thanks for your input <%=@firstname%> you need to enter a valid email for us to contact you</h1>
    </header>
  </section>
<%end%>

